dist
coverage
cc-test-reporter
.nyc_output
**/*.d.ts
**/*.d.ts.map
!@interactjs/types/types.d.ts
@interactjs/*/use/**/*.ts
*interactjs/**/*.js
*interactjs/**/*.js.map
**/node_modules
**/lerna-debug.log
