*.d.ts
*.d.ts.map
!interactjs/index.d.ts
!shims.d.ts
packages/@interactjs/**/index.ts
packages/@interactjs/*/use/**/*.ts
!packages/@interactjs/types/index.ts
!packages/@interactjs/interact/index.ts
!packages/@interactjs/interactjs/index.ts
!packages/@interactjs/rebound/index.ts
packages/**/*.js
packages/**/*.js.map
!packages/@interactjs/dev-tools/babel-plugin-prod.js
node_modules
!test/fixtures/**/node_modules
dist
.projectroot
.env
.envrc
.nyc_output
yarn-error.log
.yarn-cache
.pnpm-store
npm-debug.log
pnpm-debug.log
coverage
cc-test-reporter
lerna-debug.log
.vim
