dist
coverage
cc-test-reporter
.nyc_output
.pnpm-store
**/*.d.ts
**/*.d.ts.map
!@interactjs/types/typings.d.ts
@interactjs/**/index.ts
!@interactjs/{types,interact,interactjs}/index.ts
*interactjs/**/*.js
*interactjs/**/*.js.map
**/node_modules
**/lerna-debug.log
