{
  "per-file": false,
  "statements": 53,
  "lines": 53,
  "branches": 33,
  "functions": 50,
  "include": [
    "**/*.spec.ts"
  ],
  "extensions": [
    "js",
    "ts"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "require": [
    "ts-node/register",
    "./packages/types/index.ts"
  ],
  "sourceMap": false,
  "instrument": false
}
