
.interact-node {
	border-radius: 10px;
	border: 5px solid #333333;
}

.interact-node:hover {
	border-color: #AAAAAA;
}

.interact-target {
	border-style: dashed;
	border-color: #AAAAAA;
}

.interact-demo-node:before {
	content: attr(id);
	border-bottom: 2px solid red;
}

.interact-draggable {
	position: absolute;
	cursor:move;
}

.interact-demo-node {
	border: 5px solid #333333;
	width: 200px;
	height: 200px;
	overflow: auto;
	background-color: #2288FF;
	padding: 15px;
}
