
.interact-node {
	border: 0px solid #333333; 
	border-radius: 10px;
}

.interact-node:hover {
	border-color: #AAAAAA;
}

.interact-target {
	border-style: dashed;
	border-color: #AAAAAA;
}

.interact-demo-node:before {
	content: attr(id);
	border-bottom: solid red;
}

.interact-draggable {
	position: absolute;
	cursor:move;
}

.interact-demo-node {
	width: 200px;
	height: 200px;
	overflow: auto;
	background-color: #2288FF;
	padding: 5px;
}

