body {
    margin: 0;
    padding: 5% 10%;
    font-family: sans-serif;
}

#drag-me {
    width: 25%;

    background-color: #29e;
    color: white;

    border: solid 0.4em #666;
    border-radius: 0.75em;
    padding: 3%;
    touch-action: none;

    position: absolute;

    top: 0;
    left: 0;
}

iframe {
    width: 100%;
    height: 75vh;
}

