body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Arial", sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
    border: none;
    border-right: dashed;
    border-bottom: dashed;
}

#status {
    width: 180px;
    position: fixed;
    right: 0;
    top: 10%;

    padding: 5px 10px;
    border-radius: 5px;

    background-color: #cccccc;
}

#status h3 {
	font-size: 16px;
	margin: 10px 0px 0px 0px;
	padding: 0;
	line-height: 22px;
    text-transform: capitalize;
    font-weight: normal
}

input[type=radio], input[type=checkbox], label {
    cursor: pointer;
}

#status [disabled] {
    visibility: hidden;
}
