body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Arial", sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
    border: none;
    border-right: dashed;
    border-bottom: dashed;
}

#status {
    width: 180px;
    position: fixed;
    right: 0;
    top: 2%;

    padding: 5px 5px;
    border-radius: 5px;

    background-color: #cccccc;
    text-align: center;
}

#status h3 {
	font-size: 16px;
	margin: 10px 0px 0px 0px;
	padding: 0;
	line-height: 22px;
    text-transform: capitalize;
    font-weight: normal
}

#status input[type=radio], #status input[type=checkbox] {
    float: right;
}

#status [disabled] {
    cursor: default;
}

#status label {
    float: left;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

#modes {
    overflow: hidden;
    width: 90%;
    margin: auto;
}

#modes.disabled label.snap-mode {
    cursor: default;
    color: gray;
}
